[run]
branch = True
omit =
    hw/siarhei_apanel/refakt.py
    hw/siarhei_apanel/test.py
    hw/siarhei_apanel/Test_APANEL.py
    hw/vlad_yancharski/func_3.py
    hw/vlad_yancharski/test.py
    hw/vlad_yancharski/test3.py
relative_files = True
source = hw


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod
fail_under = ${COVERAGE_MIN-100}
skip_covered = False
skip_empty = True
sort = Cover


[html]
skip_covered = False
skip_empty = True
title = QAP-05
